{%- assign path = page.url | split: '/' -%}
<script>window.gd_path1 = '{{ path[1] | default: "search" }}';</script>
<script>window.gd_search_url = '{{ "/search.json" | relative_url }}';</script>
<script>
    function searchSuggestion(term) {
        const input = document.getElementById('GDSInput');
        if (input) {
            input.value = term;
            input.focus();
            // Dispatch an 'input' event to trigger the search logic in search.js
            input.dispatchEvent(new Event('input', { bubbles: true }));
        }
    }
</script>
<script src="{{ site.search_js | relative_url }}"></script>
<div><center>
    <div class="col-xs-12 col-sm-11 col-md-9 col-lg-7 col-xl-6 col-xxl-6" style="margin-bottom: 25px;">
        {%- if path[1] == nil -%}
            <h2 style="padding-top: 150px;" id="fc-{{ path[1] }}">GoDarda</h2>
            <h6 style="padding-top: 5px; padding-bottom: 10px;">{{ site.tagline }}</h6>
        {%- endif -%}

        <div id="GDS_input-{{ path[1] | default: 'search' }}" class="input-group input-group-lg">
        <input id="GDSInput" class="form-control" type="text" tabindex="1" placeholder="{{ page.title }} (type keywords to get results)" onkeypress="display_results();" onkeyup="display_results();" onload="clear_input();"><div id="search_icon" class="input-group-append" style="display: inline-block; padding: 10px 15px 0px 7px; font-size: 20px;"><i class="bi bi-search"></i></div><div id="close_icon" class="input-group-append" onclick="clear_input();" style="display: none; padding: 5px; font-size: 25px;"><i class="bi bi-x"></i></div>
        </div>
        <div id="matchCount" class="text-muted small" style="margin-top:8px; display:none; text-align:left"></div>
    </div>

    {%- if path[1] == nil -%}
    <div style="margin-top: -10px; margin-bottom: 30px; font-size: 0.9rem;">
        <span class="text-muted" style="font-weight: 500; margin-right: 5px;"><i class="bi bi-lightbulb"></i> Suggestions:</span>
        <a class="btn btn-sm btn-outline-secondary rounded-pill" href="javascript:void(0);" onclick="searchSuggestion('C')" style="margin: 2px;">C</a>
        <a class="btn btn-sm btn-outline-secondary rounded-pill" href="javascript:void(0);" onclick="searchSuggestion('C#')" style="margin: 2px;">C#</a>
        <a class="btn btn-sm btn-outline-secondary rounded-pill" href="javascript:void(0);" onclick="searchSuggestion('Java')" style="margin: 2px;">Java</a>
        <a class="btn btn-sm btn-outline-secondary rounded-pill" href="javascript:void(0);" onclick="searchSuggestion('Python')" style="margin: 2px;">Python</a>
        <a class="btn btn-sm btn-outline-secondary rounded-pill" href="javascript:void(0);" onclick="searchSuggestion('Converter')" style="margin: 2px;">Converter</a>
    </div>
    {%- endif -%}

    <div id="{{ path[1] | default: 'search' }}" class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-7 col-xxl-7" style="text-align: left; margin-bottom: 30px;"></div>
</center></div>