---
layout: none
---

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

[data-bs-theme="dark"]
{
    --asm:                 #b37700; /* Brown for assembly language */
    --c:                   #0080ff; /* Blue for C programming language */
    --cg:                  #ff6699; /* Pink for computer graphics */
    --cluster:             #99994d; /* Olive for clustering systems */
    --cpp:                 #99e600; /* Bright green for C++ programming language */
    --csharp:              #b366ff; /* Purple for C# programming language */
    --ds:                  #cc6666; /* Muted red for data science */
    --dsa:                 #e6b800; /* Amber for data structures and algorithms */
    --fsharp:              #00bfff; /* Cyan for F# programming language */
    --java:                #ff8533; /* Warm orange for Java programming language */
    --julia:               #cc3399; /* Magenta for Julia programming language */
    --linux:               #ff9966; /* Coral for Linux systems */
    --lisp:                #8080ff; /* Indigo for Lisp programming language */
    --mongodb:             #29a329; /* Green for MongoDB database */
    --mysql:               #4080bf; /* Blue for MySQL database */
    --octave:              #ff6600; /* Bright orange for Octave programming language */
    --other:               #00b050; /* Green for miscellaneous or other categories, matching search */
    --python:              #e6e600; /* Vibrant yellow for Python programming language */
    --r:                   #9999ff; /* Light purple for R programming language */
    --rust:                #996633; /* Rustic brown for Rust programming language */
    --search:              #00b050; /* Green for search-related functionalities */
    --selenium:            #00cc66; /* Green for Selenium testing framework */
    --testapp:             #00cc66; /* Green for test applications, matching Selenium */
    --tools:              #ff9900; /* Bright orange for Tools */
    
    --bg_jumbotron:        #050514; /* Background color for jumbotron */
    --bnw:                 #ffffff; /* Black and white color */
    --board-bc:            #21252c; /* Board background color */
    --board-tc:            #d9d9d9; /* Board text color */
    --color1:              #373d49; /* First color variable */
    --color2:              #2c313a; /* Second color variable */
    --color3:              #16181d; /* Third color variable */
    --color4:              #16181d; /* Fourth color variable */
    --hlink:               #4d94ff; /* Hyperlink color */
    --hover_jumbotron:     #000000; /* Hover color for jumbotron */
    --hover_sideitem:      #16181d; /* Hover color for sidebar items */
    --infocard:            #0b0c0e; /* Info card background color */
    --pre-bg:              #0b0c0f; /* Preformatted text background color */
    --rightsidebar-bc:     #21252c; /* Right sidebar background color */
    --sidebar-bc:          #21252c; /* Sidebar background color */
    --sidebar-tc:          #d9d9d9; /* Sidebar text color */
    --svgicon:             #f2f2f2; /* SVG icon color */
    --textcolor:           #e6e6e6; /* General text color */
    --wvnav:               #000707; /* Navigation bar color */
    --wvnav-item-active:   #21252c; /* Active navigation item color */

    --code-literal:        #79c0ff; /* Literal code color for code literals and elements */
    --code-special:        #1f6feb; /* Special code color for special code elements */
    --comment:             #8b949e; /* Comment color for code comments */
    --diff-added:          #aff5b4; /* Diff added color for added content in diffs */
    --diff-removed:        #ffdcd7; /* Diff removed color for removed content in diffs */
    --function:            #d2a8ff; /* Function color for function-related classes */
    --keyword:             #ff7b72; /* Keyword color for syntax highlighting keywords */
    --name-attr:           #7ee787; /* Attribute name color for attributes and tags */
    --name-constant:       #ffa657; /* Constant name color for names and constants */
    --string:              #a5d6ff; /* String color for string-related classes */
    --text-error:          #f0f6fc; /* Error text color for error-related classes */
    --text-primary:        #c9d1d9; /* Primary text color for general text and specific classes */
}

/* --------------------------------------------------------------------------------------------- */

[data-bs-theme="light"]
{
    --asm:                 #cc8800; /* Bright brown for assembly language */
    --c:                   #1a8cff; /* Bright blue for C programming language */
    --cg:                  #ff668c; /* Light pink for computer graphics */
    --cluster:             #b3b366; /* Light olive for clustering systems */
    --cpp:                 #80ff00; /* Vibrant green for C++ programming language */
    --csharp:              #cc66ff; /* Bright purple for C# programming language */
    --ds:                  #ff6666; /* Light red for data science */
    --dsa:                 #ffaa00; /* Bright amber for data structures and algorithms */
    --fsharp:              #33ccff; /* Bright cyan for F# programming language */
    --java:                #ff8c1a; /* Warm orange for Java programming language */
    --julia:               #ff3399; /* Vivid magenta for Julia programming language */
    --linux:               #ff9966; /* Light coral for Linux systems */
    --lisp:                #9999ff; /* Light indigo for Lisp programming language */
    --mongodb:             #33cc33; /* Bright green for MongoDB database */
    --mysql:               #4d94cc; /* Light blue for MySQL database */
    --octave:              #ff751a; /* Bright orange for Octave programming language */
    --other:               #00cc66; /* Bright green for other miscellaneous categories */
    --python:              #ffcc00; /* Bright yellow for Python programming language */
    --r:                   #b3b3ff; /* Light purple for R programming language */
    --rust:                #cc6633; /* Lighter brown for Rust programming language */
    --search:              #00cc66; /* Bright green for search systems */
    --selenium:            #00e673; /* Bright green for Selenium testing framework */
    --testapp:             #00e673; /* Bright green for test applications */
    --tools:               #ff9900; /* Bright orange for Tools */

    --bg_jumbotron:        #c5cbd3; /* Background color for jumbotron */
    --bnw:                 #000000; /* Black and white color */
    --board-bc:            #e2e5e9; /* Board background color */
    --board-tc:            #424b57; /* Board text color */
    --color1:              #8b98a7; /* First color variable */
    --color2:              #c5cbd3; /* Second color variable */
    --color3:              #99a4b2; /* Third color variable */
    --color4:              #c5cbd3; /* Fourth color variable */
    --hlink:               #1a75ff; /* Hyperlink color */
    --hover_jumbotron:     #99a4b2; /* Hover color for jumbotron */
    --hover_sideitem:      #c5cbd3; /* Hover color for sidebar items */
    --infocard:            #b6bfc8; /* Info card background color */
    --pre-bg:              #e2e6e9; /* Preformatted text background color */
    --rightsidebar-bc:     #e2e5e9; /* Right sidebar background color */
    --rightsidebar-tc:     #424b57; /* Right sidebar text color */
    --sidebar-bc:          #e2e5e9; /* Sidebar background color */
    --sidebar-tc:          #424b57; /* Sidebar text color */
    --svgicon:             #424b57; /* SVG icon color */
    --textcolor:           #000000; /* General text color */
    --wvnav:               #ffffff; /* Navigation bar color */
    --wvnav-item-active:   #e2e5e9; /* Active navigation item color */

    --code-literal:        #043a7c; /* Literal code color for code literals and elements */
    --code-special:        #0550ae; /* Special code color for special code elements */
    --comment:             #6e7781; /* Comment color for code comments */
    --diff-added:          #116329; /* Diff added color for added content in diffs */
    --diff-removed:        #82071e; /* Diff removed color for removed content in diffs */
    --function:            #8250df; /* Function color for function-related classes */
    --keyword:             #cf222e; /* Keyword color for syntax highlighting keywords */
    --name-attr:           #116329; /* Attribute name color for attributes and tags */
    --name-constant:       #953800; /* Constant name color for names and constants */
    --string:              #0a3069; /* String color for string-related classes */
    --text-error:          #24292f; /* Error text color for error-related classes */
    --text-primary:        #24292f; /* Primary text color for general text and specific classes */
}

/* --------------------------------------------------------------------------------------------- */

{%- for segment in site.data.gd.segments -%}{%- assign s = segment.url | split: '/' -%}
a.{{ s }}:hover, a.{{ s }}:focus, #{{ s }} > a:hover, #{{ s }} > a:focus, .procard.{{ s }}, .nav-link.sidebar-item-active.{{ s }}
{ border-left: 5px solid var(--{{ s }}); }

#fc-{{ s }}, #fc-{{ s }}:hover, .wvnav-item-active-{{ s }}
{ color: var(--{{ s }}); }

div#KSE_input-{{ s }}
{
    border-bottom: 1px solid var(--{{ s }});
    border-radius: 5px;
}
#KSE_input-{{ s }}
{     
    -webkit-box-shadow: 0px 0px 20px -13px var(--{{ s }});
    -moz-box-shadow: 0px 0px 20px -13px var(--{{ s }});
    box-shadow: 0px 0px 20px -13px var(--{{ s }});
}
{%- endfor -%}

#other > a:hover, #other > a:focus, .nav-link.sidebar-item-active.about, a.about:hover, a.about:focus
{ border-left: 5px solid var(--other); }

#fc-, #fc-search, #fc-about, #fc-shubhamrdarda, .wvnav-item-active-, .wvnav-item-active-search, .wvnav-item-active-about, #fc-:hover, #fc-search:hover, #fc-about:hover, #fc-shubhamrdarda:hover
{ color: var(--other); }

/* --------------------------------------------------------------------------------------------- */

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w { color: var(--text-primary); }
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv { color: var(--keyword); }
.highlight .gr { color: var(--text-error); }
.highlight .gd { color: var(--diff-removed); }
.highlight .nb { color: var(--name-constant); }
.highlight .nc { color: var(--name-constant); }
.highlight .no { color: var(--name-constant); }
.highlight .nn { color: var(--name-constant); }
.highlight .sr { color: var(--name-attr); }
.highlight .na { color: var(--name-attr); }
.highlight .nt { color: var(--name-attr); }
.highlight .gi { color: var(--diff-added); }
.highlight .kc { color: var(--code-literal); }
.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx { color: var(--code-literal); }
.highlight .sb { color: var(--code-literal); }
.highlight .bp { color: var(--code-literal); }
.highlight .ne { color: var(--code-literal); }
.highlight .nl { color: var(--code-literal); }
.highlight .py { color: var(--code-literal); }
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm { color: var(--code-literal); }
.highlight .o, .highlight .ow { color: var(--code-literal); }
.highlight .gh { color: var(--code-special); }
.highlight .gu { color: var(--code-special); }
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s aquí 2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss { color: var(--string); }
.highlight .nd { color: var(--function); }
.highlight .nf, .highlight .fm { color: var(--function); }
.highlight .err { color: var(--text-error); }
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs { color: var(--comment); }
.highlight .gl { color: var(--comment); }
.highlight .gt { color: var(--comment); }
.highlight .ni { color: var(--text-primary); }
.highlight .si { color: var(--text-primary); }
.highlight .ge { color: var(--text-primary); }
.highlight .gs { color: var(--text-primary); }

/* --------------------------------------------------------------------------------------------- */

@media(min-width: 767px) {
    img#logo {
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
}

@media (max-width: 767.98px) {
    img#logo {
        margin: -4px 0px 0px 0px;
        width: 35px;
        height: 35px;
        border-radius: 5px;
    }

    div.navbar-brand {
        margin-left: 40px;
        position: fixed;
    }

    .rightsidebar-collapse,
    .leftsidebar-collapse {
        position: fixed;
        top: 55px;
        bottom: 0;
        overflow-y: auto;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
    }

    .rightsidebar-collapse {
        width: 100%;
        padding: 3px 0px 3px 0px;
        background-color: var(--rightsidebar-bc);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .rightsidebar-collapse>ul>li {
        border-bottom: 1px solid var(--color2);
        padding: 3px 20px 3px 20px;
    }

    .rightsidebar-collapse>ul>li.nav-item,
    .rightsidebar-collapse>ul>li.nav-item>a.nav-link,
    a.nav-link>i.navsvg {
        color: var(--rightsidebar-tc);
    }

    .rightsidebar-collapse.open {
        padding: 3px 0px 3px 0px;
        border-left: 1px solid var(--color1);
        -webkit-transform: translateX(30%);
        transform: translateX(30%);
    }

    .rightsidebar-collapse.open>ul>li {
        border-bottom: 1px solid var(--color2);
        padding: 3px 20px 3px 20px;
    }

    .leftsidebar-collapse {
        width: 65%;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .leftsidebar-collapse.open {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

/* --------------------------------------------------------------------------------------------- */

body {
    font-family: 'Roboto';
    font-size: 15px;
    overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bnw);
}

hr {
    margin: 12px 0px 12px 0px;
    color: var(--color1);
}

p {
    color: var(--textcolor);
    padding: 10px 10px 0px 10px;
    line-height: 25px;
    text-align: left;
}

mark {
    color: #00b050;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

p>mark,
div.infocard>mark {
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    color: var(--textcolor);
    background-color: var(--color1);
}

nav,
footer,
.sidebar,
.jumbotron,
.procard,
.carousel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

iframe {
    border-radius: 0px 0px 5px 5px;
}

/* --------------------------------------------------------------------------------------------- */

nav {
    border-bottom: 1px solid var(--color1);
}

.navbar {
    height: 55px;
    background-color: #000000;
}

.navbar-toggler {
    border: none;
    box-shadow: none !important;
    z-index: 0;
}

li.nav-item,
li.nav-item>a.nav-link,
a.nav-link>i {
    color: #e6e6e6;
}

a,
a:hover,
a.nav-link,
a.nav-link:hover,
a.card,
span.nav-link,
span.nav-link:hover {
    text-decoration: none;
    font-size: 15px;
}

.jumbotron {
    padding: 100px 0px 44px 0px;
    margin-bottom: 60px;
    border-radius: 0px;
    border-bottom: 1px solid var(--color1);
    background-color: var(--color2);
    color: var(--bnw);
}

div.procard {
    background-color: var(--bg_jumbotron);
    border: 0px;
    transition: 2s;
    margin-bottom: 30px;
    padding: 20px;
    white-space: nowrap;
    border-radius: 0px 5px 5px 0px;
    color: var(--textcolor);
}

div.procard:hover {
    background-color: var(--hover_jumbotron);
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
    -webkit-transition: color 2s 2s ease-in;
    -moz-transition: color 2s 2s ease-in;
    -ms-transition: color 2s 2s ease-in;
    -o-transition: color 2s 2s ease-in;
    transition: color 2s 2s ease-in;
}

/* --------------------------------------------------------------------------------------------- */

pre {
    font-size: 15px;
    background-color: var(--pre-bg);
    word-break: keep-all;
    word-wrap: inherit;
    padding: 7px;
    margin: 0px;
}

span>pre {
    font-size: 15px;
    color: #e6e6e6;
    background-color: #000000;
    word-break: keep-all;
    word-wrap: inherit;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 30px;
}

div+pre,
div+span>pre,
div.collapse>span>pre {
    border-left: 1px solid var(--color1);
    border-right: 1px solid var(--color1);
}

div+span>pre,
div.collapse>span>pre {
    border-bottom: 1px solid var(--color1);
}

span>pre>hr {
    border-bottom: 1px solid var(--color1);
}

warning {
    color: #e6b800;
}

error {
    color: #e63636;
}

comment,
a.hlink,
a.hlink:hover,
a.hlink:focus {
    color: var(--hlink);
}

a.card {
    border: none;
    text-decoration: none;
}

a.card:hover,
a.card:focus {
    border-radius: 0px 5px 5px 0px;
    transition: 0.3s;
    background-color: var(--infocard);
}

a.card.codecard {
    border-left: 5px solid transparent;
}

div.card {
    border: 0px;
    border-radius: 0px;
    text-align: left;
    padding: 7px 7px 7px 10px;
    margin-bottom: 0px;
    color: var(--bnw);
    background-color: var(--color2);
    border-left: 1px solid var(--color1);
    border-right: 1px solid var(--color1);
}

div.card.collapsed {
    margin-bottom: 30px;
}

pre.editorcard {
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color1);
}

div.terminalcard {
    border: 0px;
    text-align: left;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    color: var(--bnw);
    background-color: var(--color1);
    border: 1px solid var(--color1);
}

div.infocard {
    border: 0px;
    border-radius: 0px;
    text-align: left;
    padding: 10px;
    margin-bottom: 0px;
    line-height: 25px;
    color: var(--bnw);
    background-color: var(--infocard);
    border: 1px solid var(--color1);
    border-width: 0px 1px 1px 1px;
}

div.titlecard {
    border-radius: 5px;
    font-weight: normal;
    text-align: left;
    padding: 8px 8px 8px 10px;
    margin-bottom: 15px;
    color: var(--bnw);
    background-color: var(--infocard);
}

div.codecard {
    text-align: left;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    color: var(--bnw);
    background-color: var(--color3);
    border: 1px solid var(--color1);
}

a.codecard,
span.codecard {
    border: 0px;
    border-radius: 5px;
    padding: 7px 7px 7px 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
    color: var(--bnw);
    background-color: var(--color2);
}

/* --------------------------------------------------------------------------------------------- */

div.card .show {
    display: none;
}

div.card.collapsed .show {
    display: block;
}

div.card .hide {
    display: block;
}

div.card.collapsed .hide {
    display: none;
}

div.collapsed {
    border-top: 1px solid var(--color1);
    border-bottom: 1px solid var(--color1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* --------------------------------------------------------------------------------------------- */

.sidebar {
    position: fixed;
    padding: 0;
    top: 55px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    border-right: 1px solid var(--color1);
    background-color: var(--sidebar-bc);
}

.sidebar>a {
    padding: 12px;
    color: var(--sidebar-tc);
    border-left: 5px solid transparent;
    border-bottom: 1px solid var(--color2)
}

.sidebar>a:last-child {
    margin-bottom: 30px;
}

.sidebar>a:hover,
.sidebar>a:focus {
    background-color: var(--color2);
    color: var(--bnw);
    box-shadow: none;
}

.sidebar,
pre {
    scrollbar-width: thin;
}

a.sidebar-item-active {
    background-color: var(--hover_sideitem);
    color: var(--bnw);
}

/* --------------------------------------------------------------------------------------------- */

div.board {
    border-radius: 5px;
    border: 1px solid var(--color1);
    margin-bottom: 30px;
}

div.boardtitle {
    border-bottom: 1px solid var(--color1);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    color: var(--bnw);
    background-color: var(--color3);
}

div.boardtitle~a {
    background-color: var(--board-bc);
    border-bottom: 1px solid var(--color2);
    border-radius: 0px;
    padding: 9px;
    border-left: 4px solid transparent;
    color: var(--board-tc);
}

div.boardtitle~a:hover,
div.boardtitle~a:focus {
    border-radius: 0px;
    color: var(--bnw);
    background-color: var(--color2);
}

div.boardtitle~a:last-child,
div.boardtitle~a:last-child:hover,
div.boardtitle~a:last-child:focus {
    border-bottom: 1px solid transparent;
    border-radius: 0px 0px 5px 5px;
}

a.card.disabled {
    cursor: default;
}

a.card.disabled:hover {
    background-color: var(--board-bc);
}

/* --------------------------------------------------------------------------------------------- */

div.about {
    background-color: var(--color2);
    border: 1px solid var(--color1);
    border-radius: 5px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

div.about>h5 {
    text-align: center;
    border-bottom: 1px solid var(--color1);
}

/* --------------------------------------------------------------------------------------------- */

div.box.card-header {
    padding: 20px 10px 10px 10px;
    background-color: var(--color4);
    border-bottom: 1px solid var(--color1);
    color: var(--textcolor);
    border-radius: 5px 5px 0px 0px;
}

div.box.card-body {
    background-color: var(--color4);
    padding: 20px;
}

div.box.card-footer {
    padding: 15px;
    background-color: var(--color4);
    border-top: 1px solid var(--color1);
    color: var(--textcolor);
    border-radius: 0px 0px 5px 5px;
}

/* --------------------------------------------------------------------------------------------- */

#KSEInput
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: transparent;
}

#search_icon, #close_icon 
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--color1);
    color: #999;
}

/* --------------------------------------------------------------------------------------------- */

input[type="text"]
{
    border: 1px solid var(--color1);
}

input[type="radio"]+label {
    color: var(--textcolor);
}

input[type="radio"]:checked+label {
    color: var(--textcolor);
}

input[type=radio]:checked,
input[type=radio]:focus {
    background-color: #00b050;
    border: 1px solid #00b050;
    box-shadow: none;
}

.form-check-label {
    padding-left: 5px;
}

.form-control,
.form-control:focus {
    box-shadow: none;
    border-color: var(--color1);
}

option,
.form-select,
.form-select:focus {
    box-shadow: none;
    border: 1px solid var(--color1);
    font-size: 15px;
}

.btn {
    color: var(--textcolor);
    border-color: var(--color1);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.btn:hover,
.btn:focus,
.btn:active {
    border-color: var(--color1);
}

.btn.active.focus,
.btn.focus:active,
.btn.focus,
.btn.active:focus,
.btn:active:focus,
.btn:focus,
.navbar-toggler:focus,
.btn:hover:active {
    border-color: var(--color1);
    outline: 0 !important;
    outline-offset: 0 !important;
}

::-webkit-input-placeholder {
    font-size: 14px;
}

::-moz-placeholder {
    font-size: 14px;
}

::-ms-input-placeholder {
    font-size: 14px;
}

::placeholder {
    font-size: 14px;
}

::-ms-clear {
    display: none;
}

/* --------------------------------------------------------------------------------------------- */

div.footer {
    border-top: 1px solid var(--color1);
    background-color: var(--color2);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 50px;
}

div.col-6>a>div {
    color: var(--sidebar-tc);
    padding: 4px 0px 4px 0px;
    border-bottom: 1px solid var(--color1)
}

div.col-6>h6 {
    color: var(--bnw);
    font-weight: bold;
}

.modal-backdrop.show {
    opacity: 0.9;
}

.btn-close:focus {
    box-shadow: none;
}

i.svgicon {
    font-size: 25px;
    color: var(--svgicon);
}

a>i {
    color: var(--svgicon);
}

a.back-to-top>i.svgicon {
    padding: 8px 10px 8px 10px;
    border-radius: 50px;
    background-color: var(--color4);
    border: 1px solid var(--color1);
}

/* --------------------------------------------------------------------------------------------- */

div.wvnav {
    position: fixed;
    height: 68px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--color1);
    background-color: var(--wvnav);
    padding: 8px;
}

a.wvnav-item>i {
    padding: 3px 20px 3px 20px;
}

a.wvnav-item>div {
    color: var(--bnw);
    font-size: 13px;
}

a.wvnav-item:first-child {
    margin-left: 5px;
}

a.wvnav-item:last-child {
    margin-right: 5px;
}

a.wvnav-item>i.wvsvg {
    font-size: 23px;
}

.wvnav-item-active>i {
    background-color: var(--wvnav-item-active);
    border-radius: 25px;
}

/* --------------------------------------------------------------------------------------------- */

.copyright-footer {
    background-color: var(--color1);
    color: var(--bnw);
    padding: 15px;
    margin: 0px;
}

/* --------------------------------------------------------------------------------------------- */