<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
{%- assign main_pages = "shubhamrdarda,testapp,learn,tools" | split: ',' -%}
{%- if path[1] == nil or main_pages contains path[1] -%}{%- assign is_sidebar_page = false -%}
{%- else -%}{%- assign is_sidebar_page = true -%}{%- endif -%}

<nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
        {%- unless is_sidebar_page -%}
        <div class="navbar-brand" style="margin-left: 0px;">
            <a><img id="logo" alt="Logo" width="30" height="30" src="{{ site.icon | relative_url }}"></a>
            <a id="fc-{{ path[1] }}"> {{ parent }}</a>
        </div>
        {%- else -%}
        <div id="navbar-brand" class="navbar-brand">
            {%- assign home_url = "" -%}
            {%- assign learn_data = site.data.learn.learn | default: site.data.learn -%}
            {%- assign tools_data = site.data.tools.tools | default: site.data.tools -%}
            {%- assign learn_matches = learn_data.segments | where: "url", path[1] -%}
            {%- assign tools_matches = tools_data.segments | where: "url", path[1] -%}
            {%- if learn_matches.size > 0 -%}{%- assign home_url = "learn" -%}{%- elsif tools_matches.size > 0 -%}{%- assign home_url = "tools" -%}{%- endif -%}
            <a href="{{ home_url }}"><img id="logo" alt="Logo" width="30" height="30" src="{{ site.icon | relative_url }}"></a>
            <a id="fc-{{ path[1] }}" href="{{ path[1] }}">{{ parent }} / </a>
            {%- if path[2] != nil -%}
                <a id="fc-{{ path[1] }}" href="{{ path[1] }}/{{ path[2] }}">{{ child }} / </a>
            {%- endif -%}
        </div>
        <button id="lsidebar" class="navbar-toggler p-0" type="button" data-bs-toggle="leftsidebar" data-bs-target="#leftsidebar" aria-label="lsidebar"><span class="navbar-toggler-icon"></span></button>
        <div id="leftsidebar" class="sidebar leftsidebar-collapse col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 col-xxl-2">
        {%- for parent in gd.sidenav -%}
            {%- if page.url contains parent.url -%}
                {%- assign active_item = nil -%}
                {%- assign active_item = "sidebar-item-active" -%}
                {%- assign pu = parent.url | split: '/' -%}

                {%- if path[1] == pu[0] and path[2] == nil -%}<a class="nav-link {{ active_item }} {{ path[1] }}" href="{{ parent.url }}">{{ parent.parent }}</a>
                {%- else -%}<a class="nav-link {{ path[1] }}" href="{{ parent.url }}">{{ parent.parent }}</a>
                {%- endif -%}

                {%- for child in parent.children -%}
                    {%- assign cu = child.url | split: '/' -%}
                    {%- if cu.size == 2 and path[2] == cu[1] -%}<a class="nav-link {{ active_item }} {{ path[1] }}" href="{{ child.url }}">{{ child.title }}</a>
                    {%- else -%}<a class="nav-link {{ path[1] }}" href="{{ child.url }}">{{ child.title }}</a>
                    {%- endif -%}
                {%- endfor -%}
            {%- endif -%}
        {%- endfor -%}
        </div>
        {%- endunless -%}

        <button id="rsidebar" class="ms-auto navbar-toggler p-0" type="button" data-bs-toggle="rightsidebar" data-bs-target="#rightsidebar" aria-label="rsidebar" style="display: none;"><span class="navbar-toggler-icon"></span></button>
        <div id="rightsidebar" class="rightsidebar-collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav mr-auto">
                {%- if path[1] != nil -%}
                    <li class="nav-item"><a class="nav-link" href=""><i class="navsvg bi bi-house-door"></i> Home</a></li>
                {%- endif -%}
                {%- if path[1] != "learn" -%}
                    <li class="nav-item"><a class="nav-link" href="learn"><i class="navsvg bi bi-lightbulb"></i> Learn</a></li>
                {%- endif -%}
                {%- if path[1] != "tools" -%}
                    <li class="nav-item"><a class="nav-link" href="tools"><i class="navsvg bi bi-gear"></i> Tools</a></li>
                {%- endif -%}
                {%- if path[1] != "about" -%}
                    <li class="nav-item"><a class="nav-link" href="about"><i class="navsvg bi bi-info-circle"></i> About Us</a></li>
                {%- endif -%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="theme (dark)"><i class="bi bi-moon-stars me-2" id="bd-theme-icon"></i><span id="bd-theme-text">Theme</span></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme" style="top: 45px;">
                        <li><button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false"><i class="bi bi-circle-half me-2"></i>Auto</button></li>
                        <li><button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="true"><i class="bi bi-moon-stars me-2"></i>Dark</button></li>
                        <li><button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false"><i class="bi bi-sun me-2"></i>Light</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div data-bs-toggle="collapseall" class="d-flex flex-column flex-grow-1">
    {%- unless is_sidebar_page -%}
    {%- if path[1] == "learn" or path[1] == "tools" -%}
    <div class="jumbotron text-center">
        <h3>{{ site.title }}</h3>
        <h6>{{ segment }}</h6>
    </div>
    {%- endif -%}
    <main role="main" class="flex-grow-1"><div class="container">{{ content }}</div></main>

    {%- else -%}
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 col-xxl-10 ms-sm-auto px-md-4 jumbotron text-center">
        <h3>{{ site.title }}</h3>
        {%- if path[1] != "converters" and path[1] != "calculators" -%}<h6>{{ segment }}</h6>
        {%- else -%}<h6>{{ page.title }}</h6>{%- endif -%}
    </div>

    <main class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 col-xxl-10 ms-sm-auto px-md-4 flex-grow-1" role="main">
        <div class="container">
            {%- if path[2] == nil and path[1] != "about" -%}{%- include search.html -%}{%- endif -%}
            {{ content }}
            {%- for parent in gd.grandparent -%}
            {% if path[1] != "about" and path[2] == nil %}
            <div class="board"><div class="boardtitle">{{ parent.parent }}</div>
                {% for child in parent.children limit:4 %}<a class="card" href="{{ child.url }}">{{ child.title }}</a>{% endfor %}
                {%- assign count = parent.children | size -%}
                {%- if count >= 5 -%}<a class="card" href="{{ parent.url }}">Show More &#187</a>{%- endif -%}
            </div>
            {%- else -%}
            {%- if path[1] != "about" and path[3] == nil -%}
                {%- assign pu = parent.url | split: '/' -%}
                {%- if pu[1] == path[2] -%}
                <div class="board"><div class="boardtitle">{{ parent.parent }}</div>{%- for child in parent.children -%}<a class="card" href="{{ child.url }}">{{ child.title }}</a>{%- endfor -%}</div>
                {%- endif -%}
            {%- endif -%}{%- endif -%}{%- endfor -%}
            {%- if path[1] != nil and path[1] != "about" -%}
                {%- include comments.html -%}
                {% include pagination.html %}
            {%- endif -%}
        </div>
    </main>
    {%- endunless -%}

    {%- if is_sidebar_page -%}{%- assign footer_class = "col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 col-xxl-10 ms-sm-auto footer-no-padding" -%}{%- else -%}{%- assign footer_class = "" -%}{%- endif -%}
    <div class="{{ footer_class }}">{%- include footer_app.html -%}{%- include footer_web.html -%}</div>
</div>

{%- if path[3] != nil -%}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><i class="bi bi-clipboard-heart"></i> Thank You</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="h6">Thank you for visiting GoDarda!</p>
                <p>If you've found GoDarda helpful, please consider supporting our mission to provide free, high-quality content for developers. Your support makes a difference!</p>
                <p>Don't forget to show your appreciation by starring our repo, following us, and becoming a sponsor!</p>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-sm btn-outline-secondary" href="{{ site.data.url.repo }}" title="GitHub Star" target="_blank" rel="noopener noreferrer"><i class="bi bi-star"></i> Star</a>
                <a href="{{ site.data.url.linkedin }}" class="btn btn-sm btn-outline-secondary" title="LinkedIn" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i> LinkedIn</a>
                <a href="{{ site.data.url.sponsor }}" class="btn btn-sm btn-outline-secondary" title="Sponsor" target="_blank" rel="noopener noreferrer"><i class="bi bi-suit-heart"></i> Sponsor</a>
            </div>
        </div>
    </div>
</div>
{%- endif -%}

</body>
</html>
